:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  .header {
    height: 36px;
    background-color: white;
    padding: 8px 16px;
    color: #2869b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0px 0px 20px -9px black;

    .menu {
      cursor: pointer;
    }
  }

  .content {
    background-color: white;
    margin-top: 9px;
    flex-grow: 1;
    padding: 8px 16px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    box-shadow: 0px 0px 20px -9px black;
  }
}
