:host {
  display: block;

  .widget-content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  gridster ::ng-deep .gridster-row {
    border: none;
  }

  gridster ::ng-deep .gridster-column {
    border: 1px solid #979797;

    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/assets/img/gridster-background.png");
      filter: blur(2rem);
      content: " ";
    }

    &.column-without-border {
      border: none;
    }
  }

  gridster ::ng-deep {
    background: inherit;
    padding: 0 !important;
  }

  gridster-item ::ng-deep {
    background: inherit;
    border-radius: 10px;
    overflow: initial;
    z-index: 10 !important;
  }
}
